.dashboard{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    > .stat-summary{
        display: flex;
        justify-content: space-evenly;
        > div{
            padding: 1.5rem;
        }
    }
    > .tenant-room-analytics{
        display: flex;
        height: 450px;
        column-gap: .5rem;
        > table{
            flex-grow: 4;
            display: block;
            overflow-y: auto;
            > tr{
                display: flex;
                > * {
                    flex-grow: 1;
                }
            }
        }
        > .occupancy-chart{
            flex-grow: 2;
        }
    }
}